<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<div style="color: skyblue; align-items: center;font-weight: bold">
  it's my first static page
  beautiful
  <hr>
  <%= @home %>
</div>
